<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout>
			<Pattern>%d %highlight{%p} %style{%logger}{bright,cyan} %C{1.} %msg%n</Pattern>
			</PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.jckang.ex00" level="DEBUG"
			additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.springframework" level="DEBUG"
			additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.springframework.beans" level="DEBUG"
			additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.springframework.core" level="DEBUG"
			additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.springframework.context" level="DEBUG"
			additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.springframework.web" level="DEBUG"
			additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="java.sql" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
<!-- 		<Logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="jdbc.resultsettable" additivity="false">
			<level value="info" />
			<appender-ref ref="console-log4jdbc" />
		</Logger> -->
	</Loggers>
</Configuration>